In [ ]:
# help(pd.read_csv)
# ?pd.read_csv 
pd.read_csv?

In [53]:
import pandas as pd

In [103]:
cars = pd.read_csv('MyFilesLocation/MyCsvFile.TXT',index_col=0) # Caution: Csv file should not contain spaces

In [55]:
print(cars)

     cars_per_cap          country drives_right
US            809    United States         True
AUS           731        Australia        False
JPN           588            Japan        False
IN             18            India        False
RU            200           Russia         True
MOR            70          Morocco         True
EG             45            Egypt         True
P              10         Pakistan        False

In [86]:
cars["country"]

US       United States
AUS          Australia
JPN              Japan
IN               India
RU              Russia
MOR            Morocco
EG               Egypt
P             Pakistan
Name: country, dtype: object

In [87]:
cars[["country"]]

             country
US     United States
AUS        Australia
JPN            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
P           Pakistan

In [88]:
cars.loc[["AUS"]]

     cars_per_cap        country drives_right
AUS           731      Australia        False

In [70]:
cars.loc[["AUS"],"country"]

AUS        Australia
Name: country, dtype: object

In [90]:
cars.loc[["AUS","US"],"country"]

AUS          Australia
US       United States
Name: country, dtype: object

In [85]:
cars.iloc[0,0]# row,column

809

In [ ]:
cars.iloc[[0,4],[0,2]]# list of rows and list of columns

In [76]:
type(cars["country"])

pandas.core.series.Series

In [78]:
type(cars[["country"]])

pandas.core.frame.DataFrame

In [84]:
print(str(type(cars["country"])) +" "+str(type(cars[["country"]])))

<class 'pandas.core.series.Series'> <class 'pandas.core.frame.DataFrame'>

In [92]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)


# Print out observation for Japan
print(cars.loc['JPN'])
print(cars.iloc[2])

# Print out observations for Australia and Egypt
print(cars.loc[['AUS','EG']])
print(cars.iloc[[1,-2]])

cars_per_cap        588
country           Japan
drives_right      False
Name: JPN, dtype: object
cars_per_cap        588
country           Japan
drives_right      False
Name: JPN, dtype: object
     cars_per_cap        country drives_right
AUS           731      Australia        False
EG             45          Egypt         True
     cars_per_cap        country drives_right
AUS           731      Australia        False
EG             45          Egypt         True

In [106]:
cars.loc['IN', 'cars_per_cap']
cars.iloc[3, 0]

18

In [107]:
cars.loc[['IN', 'RU'], 'cars_per_cap']
cars.iloc[[3, 4], 0]

IN     18
RU    200
Name: cars_per_cap, dtype: int64

In [108]:
cars.loc[['IN', 'RU'], ['cars_per_cap', 'country']]
cars.iloc[[3, 4], [0, 1]]

    cars_per_cap  country
IN            18    India
RU           200   Russia

In [110]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out drives_right value of Morocco
print(cars.loc['MOR','drives_right'])

# Print sub-DataFrame
print(cars.loc[['RU','MOR'],['country','drives_right']])

  True
     country drives_right
RU    Russia         True
MOR  Morocco         True

In [111]:
cars.loc[:, 'country']
cars.iloc[:, 1]

cars.loc[:, ['country','drives_right']]
cars.iloc[:, [1, 2]]

             country drives_right
US     United States         True
AUS        Australia        False
JPN            Japan        False
IN             India        False
RU            Russia         True
MOR          Morocco         True
EG             Egypt         True
P           Pakistan        False

In [112]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out drives_right column as Series
print(cars.iloc[:,2])

# Print out drives_right column as DataFrame
print(cars.iloc[:,[2]])

# Print out cars_per_cap and drives_right as DataFrame
print(cars.iloc[:,[0,2]])

US       True
AUS     False
JPN     False
IN      False
RU       True
MOR      True
EG       True
P       False
Name: drives_right, dtype: object
    drives_right
US          True
AUS        False
JPN        False
IN         False
RU          True
MOR         True
EG          True
P          False
     cars_per_cap drives_right
US            809         True
AUS           731        False
JPN           588        False
IN             18        False
RU            200         True
MOR            70         True
EG             45         True
P              10        False

In [113]:
print(2 == (1 + 1))
print("intermediate" != "python")
print(True != False)
print("Python" != "python")

True
True
True
True

In [117]:
print(True==False)

# Comparison of integers
print(-5*15!=75)

# Comparison of strings
print("pyscript"=="PyScript")

# Compare a boolean with an integer
print(True==1)
print(True==10)
print(False==0)
print(False==19)

False
True
False
True
False
True
False

In [ ]:
#You can combine them with an equals sign: <= and >=. Pay attention: <= is valid syntax, but =< is not.

In [118]:
print(3 < 4)
print(3 <= 4)
print("alpha" <= "beta")

True
True
True

In [128]:
"fatima" == "fatima" #if s

True

In [131]:
print("alpha" <= "alqbeta")

True

In [135]:
name = "FaTima"
name=name.upper()

In [140]:
if(name.lower()=="fatima"):
    print("It works")

It works

In [136]:
name

'FATIMA'

In [141]:
# Comparison of integers
x = -3 * 6
print(x>=-10)

# Comparison of strings
y = "test"
print("test"<=y)

# Comparison of booleans
print(True>False)

False
True
True

In [142]:
# Create arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than or equal to 18
print(my_house>=18)

# my_house less than your_house
print(my_house<your_house)

[ True  True False False]
[False  True  True False]

In [143]:
# Define variables
my_kitchen = 18.0
your_kitchen = 14.0

# my_kitchen bigger than 10 and smaller than 18?
print(my_kitchen>10 and my_kitchen<18)

# my_kitchen smaller than 14 or bigger than 17?
print(my_kitchen<14 or my_kitchen>17)

# Double my_kitchen smaller than triple your_kitchen?
print(my_kitchen*2<your_kitchen*3)

False
True
True

In [144]:
x = 8
y = 9
not(not(x < 3) and not(y > 14 or y > 10))

False

In [ ]:
# Notice that not has a higher priority than and and or, it is executed first.

In [ ]:
# np.logical_and(), np.logical_or() and np.logical_not()

In [145]:
# Create arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than 18.5 or smaller than 10
print(np.logical_or(my_house>18.5,my_house<10))

# Both my_house and your_house smaller than 11
print(np.logical_and(my_house,your_house<11))

[False  True False  True]
[False False False  True]

In [146]:
area = 10.0
if(area < 9) :
    print("small")
elif(area < 12) :
    print("medium")
else :
    print("large")

medium

In [147]:
# Define variables
room = "kit"
area = 14.0

# if-else construct for room
if room == "kit" :
    print("looking around in the kitchen.")
else :
    print("looking around elsewhere.")

# if-else construct for area
if area > 15 :
    print("big place!")
else :
    print("pretty small")

looking around in the kitchen.
pretty small

In [158]:
# Import cars data
import pandas as pd
import numpy as np
brics = pd.read_csv('MyBricksFile.txt', index_col = 0)
print(brics)
brics[np.logical_and(brics["area"] > 8, brics["area"] < 10)]

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
CH   China   Beijing  9.597      1357.0

In [160]:
np.logical_and(brics["area"] > 8, brics["area"] < 10)

BR     True
RU    False
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [161]:
np.logical_not(np.logical_and(brics["area"] > 8, brics["area"] < 10))

BR    False
RU     True
IN     True
CH    False
SA     True
Name: area, dtype: bool

In [162]:
brics[np.logical_not(np.logical_and(brics["area"] > 8, brics["area"] < 10))]

         country    capital    area  population
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
SA  South Africa   Pretoria   1.221       52.98

In [168]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Extract drives_right column as Series: dr
dr=cars["drives_right"]
print(dr)
# Use dr to subset cars: sel
sel=cars[dr]

# Print sel
print(sel)

US      True
AUS    False
JPN    False
IN     False
RU      True
MOR     True
EG      True
P      False
Name: drives_right, dtype: bool
     cars_per_cap       country  drives_right
US            809  UnitedStates          True
RU            200        Russia          True
MOR            70       Morocco          True
EG             45         Egypt          True

In [169]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Convert code to a one-liner

sel = cars[cars['drives_right']]

# Print sel
print(sel)

     cars_per_cap       country  drives_right
US            809  UnitedStates          True
RU            200        Russia          True
MOR            70       Morocco          True
EG             45         Egypt          True

In [177]:
print(cars);print();print(cars['drives_right']);print();print(cars[cars['drives_right']])

     cars_per_cap       country  drives_right
US            809  UnitedStates          True
AUS           731     Australia         False
JPN           588         Japan         False
IN             18         India         False
RU            200        Russia          True
MOR            70       Morocco          True
EG             45         Egypt          True
P              10      Pakistan         False

US      True
AUS    False
JPN    False
IN     False
RU      True
MOR     True
EG      True
P      False
Name: drives_right, dtype: bool

     cars_per_cap       country  drives_right
US            809  UnitedStates          True
RU            200        Russia          True
MOR            70       Morocco          True
EG             45         Egypt          True

In [183]:
showrow=[True,True,True,True,True,True,True,False]
print(showrow);print();print(cars[showrow])

[True, True, True, True, True, True, True, False]

     cars_per_cap       country  drives_right
US            809  UnitedStates          True
AUS           731     Australia         False
JPN           588         Japan         False
IN             18         India         False
RU            200        Russia          True
MOR            70       Morocco          True
EG             45         Egypt          True

In [180]:
print(cars['cars_per_cap']>500);print();print(cars[cars['cars_per_cap']>500])

US      True
AUS     True
JPN     True
IN     False
RU     False
MOR    False
EG     False
P      False
Name: cars_per_cap, dtype: bool

     cars_per_cap       country  drives_right
US            809  UnitedStates          True
AUS           731     Australia         False
JPN           588         Japan         False

In [184]:
showrow=cars['cars_per_cap']>500
print(showrow);print();print(cars[showrow])

US      True
AUS     True
JPN     True
IN     False
RU     False
MOR    False
EG     False
P      False
Name: cars_per_cap, dtype: bool

     cars_per_cap       country  drives_right
US            809  UnitedStates          True
AUS           731     Australia         False
JPN           588         Japan         False

In [187]:
cpc = cars['cars_per_cap']
between = np.logical_and(cpc > 10, cpc < 80)
medium = cars[between]
print(np.logical_and(cpc > 10, cpc < 80))
print()
print(medium)

US     False
AUS    False
JPN    False
IN      True
RU     False
MOR     True
EG      True
P      False
Name: cars_per_cap, dtype: bool

     cars_per_cap  country  drives_right
IN             18    India         False
MOR            70  Morocco          True
EG             45    Egypt          True

In [188]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Import numpy, you'll need this
import numpy as np

# Create medium: observations with cars_per_cap between 100 and 500
cpc = cars['cars_per_cap']
medium=cars[np.logical_and(cpc>100,cpc<500)]



# Print medium
print(medium)

    cars_per_cap country  drives_right
RU           200  Russia          True

In [201]:
a=cpc>100; b= cpc<500
showrow= a==b
print(a);print();print(b);print();print(a == b);print();print(cars[showrow])

US      True
AUS     True
JPN     True
IN     False
RU      True
MOR    False
EG     False
P      False
Name: cars_per_cap, dtype: bool

US     False
AUS    False
JPN    False
IN      True
RU      True
MOR     True
EG      True
P       True
Name: cars_per_cap, dtype: bool

US     False
AUS    False
JPN    False
IN     False
RU      True
MOR    False
EG     False
P      False
Name: cars_per_cap, dtype: bool

    cars_per_cap country  drives_right
RU           200  Russia          True

In [209]:
print(False==False)
print(False and False)

True
False

In [210]:

    
showrow= a==b
print(a);print();print(b);print();print(a == b);print();print(cars[showrow])

False
False
False
False
True
False
False
False
US      True
AUS     True
JPN     True
IN     False
RU      True
MOR    False
EG     False
P      False
Name: cars_per_cap, dtype: bool

US     False
AUS    False
JPN    False
IN      True
RU      True
MOR     True
EG      True
P       True
Name: cars_per_cap, dtype: bool

US     False
AUS    False
JPN    False
IN     False
RU      True
MOR    False
EG     False
P      False
Name: cars_per_cap, dtype: bool

    cars_per_cap country  drives_right
RU           200  Russia          True

In [221]:
a=cpc>100; b= cpc<500
print(a);print();print(b);print();
myshowrow=[]
for i in range(8):
    print(a[i] and b[i])
    # myshowrow.append(a[i] and b[i])
    myshowrow=myshowrow + [ a[i] and b[i] ] 
    
print()    
print(myshowrow)

US      True
AUS     True
JPN     True
IN     False
RU      True
MOR    False
EG     False
P      False
Name: cars_per_cap, dtype: bool

US     False
AUS    False
JPN    False
IN      True
RU      True
MOR     True
EG      True
P       True
Name: cars_per_cap, dtype: bool

False
False
False
False
True
False
False
False

[False, False, False, False, True, False, False, False]

In [219]:
aList=[1,2,3]
aList=aList+[4]
print(aList)

[1, 2, 3, 4]

[1, 2, 3, 4, 4, 4]