In [34]:
# help(pd.read_csv)
# ?pd.read_csv 
pd.read_csv?

In [2]:
import pandas as pd

In [6]:
cars = pd.read_csv('MyCsvFile.TXT',index_col=0) # Caution: Csv file should not contain spaces

In [7]:
print(cars)

     cars_per_cap       country  drives_right
US            809  UnitedStates          True
AUS           731     Australia         False
JPN           588         Japan         False
IN             18         India         False
RU            200        Russia          True
MOR            70       Morocco          True
EG             45         Egypt          True
P              10      Pakistan         False

In [8]:
cars["country"]

US     UnitedStates
AUS       Australia
JPN           Japan
IN            India
RU           Russia
MOR         Morocco
EG            Egypt
P          Pakistan
Name: country, dtype: object

In [ ]:
cars[["country"]]

In [ ]:
cars.loc[["AUS"]]

In [ ]:
cars.loc[["AUS"],"country"]

In [ ]:
cars.loc[["AUS","US"],"country"]

In [ ]:
cars.iloc[0,0]# row,column

In [ ]:
cars.iloc[[0,4],[0,2]]# list of rows and list of columns

In [ ]:
type(cars["country"])

In [ ]:
type(cars[["country"]])

In [40]:
print(str(type(cars["country"])) +" "+str(type(cars[["country"]])))

<class 'pandas.core.series.Series'> <class 'pandas.core.frame.DataFrame'>

In [42]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)


# Print out observation for Japan
print(cars.loc['JPN'])
print(cars.iloc[2])

# Print out observations for Australia and Egypt
print(cars.loc[['AUS','EG']])
print(cars.iloc[[1,-2]])

cars_per_cap      588
country         Japan
drives_right    False
Name: JPN, dtype: object
cars_per_cap      588
country         Japan
drives_right    False
Name: JPN, dtype: object
     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True
     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

In [44]:
cars.loc['IN', 'cars_per_cap']
cars.iloc[3, 0]

18

In [45]:
cars.loc[['IN', 'RU'], 'cars_per_cap']
cars.iloc[[3, 4], 0]

IN     18
RU    200
Name: cars_per_cap, dtype: int64

In [46]:
cars.loc[['IN', 'RU'], ['cars_per_cap', 'country']]
cars.iloc[[3, 4], [0, 1]]

    cars_per_cap country
IN            18   India
RU           200  Russia

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out drives_right value of Morocco
print(cars.loc['MOR','drives_right'])

# Print sub-DataFrame
print(cars.loc[['RU','MOR'],['country','drives_right']])

In [ ]:
cars.loc[:, 'country']
cars.iloc[:, 1]

cars.loc[:, ['country','drives_right']]
cars.iloc[:, [1, 2]]

In [38]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out drives_right column as Series
print(cars.iloc[:,2])

# Print out drives_right column as DataFrame
print(cars.iloc[:,[2]])

# Print out cars_per_cap and drives_right as DataFrame
print(cars.iloc[:,[0,2]])

US      True
AUS    False
JPN    False
IN     False
RU      True
MOR     True
EG      True
P      False
Name: drives_right, dtype: bool
     drives_right
US           True
AUS         False
JPN         False
IN          False
RU           True
MOR          True
EG           True
P           False
     cars_per_cap  drives_right
US            809          True
AUS           731         False
JPN           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True
P              10         False

In [39]:
print(2 == (1 + 1))
print("intermediate" != "python")
print(True != False)
print("Python" != "python")

True
True
True
True

In [ ]:
print(True==False)

# Comparison of integers
print(-5*15!=75)

# Comparison of strings
print("pyscript"=="PyScript")

# Compare a boolean with an integer
print(True==1)
print(True==10)
print(False==0)
print(False==19)

In [ ]:
#You can combine them with an equals sign: <= and >=. Pay attention: <= is valid syntax, but =< is not.

In [ ]:
print(3 < 4)
print(3 <= 4)
print("alpha" <= "beta")

In [ ]:
"fatima" == "fatima" #if s

In [ ]:
print("alpha" <= "alqbeta")

In [ ]:
name = "FaTima"
name=name.upper()

In [ ]:
if(name.lower()=="fatima"):
    print("It works")

In [ ]:
name

In [ ]:
# Comparison of integers
x = -3 * 6
print(x>=-10)

# Comparison of strings
y = "test"
print("test"<=y)

# Comparison of booleans
print(True>False)

In [ ]:
# Create arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than or equal to 18
print(my_house>=18)

# my_house less than your_house
print(my_house<your_house)

In [ ]:
# Define variables
my_kitchen = 18.0
your_kitchen = 14.0

# my_kitchen bigger than 10 and smaller than 18?
print(my_kitchen>10 and my_kitchen<18)

# my_kitchen smaller than 14 or bigger than 17?
print(my_kitchen<14 or my_kitchen>17)

# Double my_kitchen smaller than triple your_kitchen?
print(my_kitchen*2<your_kitchen*3)

In [ ]:
x = 8
y = 9
not(not(x < 3) and not(y > 14 or y > 10))

In [ ]:
# Notice that not has a higher priority than and and or, it is executed first.

In [ ]:
# np.logical_and(), np.logical_or() and np.logical_not()

In [ ]:
# Create arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than 18.5 or smaller than 10
print(np.logical_or(my_house>18.5,my_house<10))

# Both my_house and your_house smaller than 11
print(np.logical_and(my_house,your_house<11))

In [ ]:
area = 10.0
if(area < 9) :
    print("small")
elif(area < 12) :
    print("medium")
else :
    print("large")

In [ ]:
# Define variables
room = "kit"
area = 14.0

# if-else construct for room
if room == "kit" :
    print("looking around in the kitchen.")
else :
    print("looking around elsewhere.")

# if-else construct for area
if area > 15 :
    print("big place!")
else :
    print("pretty small")

In [ ]:
# Import cars data
import pandas as pd
import numpy as np
brics = pd.read_csv('MyBricksFile.txt', index_col = 0)
print(brics)
brics[np.logical_and(brics["area"] > 8, brics["area"] < 10)]

In [ ]:
np.logical_and(brics["area"] > 8, brics["area"] < 10)

In [ ]:
np.logical_not(np.logical_and(brics["area"] > 8, brics["area"] < 10))

In [ ]:
brics[np.logical_not(np.logical_and(brics["area"] > 8, brics["area"] < 10))]

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Extract drives_right column as Series: dr
dr=cars["drives_right"]
print(dr)
# Use dr to subset cars: sel
sel=cars[dr]

# Print sel
print(sel)

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Convert code to a one-liner

sel = cars[cars['drives_right']]

# Print sel
print(sel)

In [ ]:
print(cars);print();print(cars['drives_right']);print();print(cars[cars['drives_right']])

In [ ]:
showrow=[True,True,True,True,True,True,True,False]
print(showrow);print();print(cars[showrow])

In [ ]:
print(cars['cars_per_cap']>500);print();print(cars[cars['cars_per_cap']>500])

In [ ]:
showrow=cars['cars_per_cap']>500
print(showrow);print();print(cars[showrow])

In [ ]:
cpc = cars['cars_per_cap']
between = np.logical_and(cpc > 10, cpc < 80)
medium = cars[between]
print(np.logical_and(cpc > 10, cpc < 80))
print()
print(medium)

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Import numpy, you'll need this
import numpy as np

# Create medium: observations with cars_per_cap between 100 and 500
cpc = cars['cars_per_cap']
medium=cars[np.logical_and(cpc>100,cpc<500)]



# Print medium
print(medium)

In [ ]:
a=cpc>100; b= cpc<500
showrow= a==b
print(a);print();print(b);print();print(a == b);print();print(cars[showrow])

In [ ]:
print(False==False)
print(False and False)

In [ ]:

    
showrow= a==b
print(a);print();print(b);print();print(a == b);print();print(cars[showrow])

In [ ]:
a=cpc>100; b= cpc<500
print(a);print();print(b);print();
myshowrow=[]
for i in range(8):
    print(a[i] and b[i])
    # myshowrow.append(a[i] and b[i])
    myshowrow=myshowrow + [ a[i] and b[i] ] 
    
print()    
print(myshowrow)

In [ ]:
aList=[1,2,3]
aList=aList+[4]
print(aList)

In [ ]:
x = 1
while x < 4 :
    print(x)
    x = x + 1

In [ ]:
x = 1
while x < 4 :
    x = x + 1
    print(x)

In [ ]:
x = 0
while x < 4 :
    print(x)
    x = x + 1

In [ ]:
x = 0
while x < 4 :
    x = x + 1
    print(x)

In [ ]:
error = 50.0
while error > 1 :
    error = error / 4
    print(error)

In [ ]:
# Initialize offset
offset = 8

# Code the while loop
while offset != 0 :
    print("correcting...")
    offset = offset - 1
    print(offset)

In [ ]:
# Initialize offset
offset = 8

# Code the while loop
while offset != 5 :
    print("correcting...")
    offset = offset - 1
    print(offset)

In [ ]:
# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    if (offset>0):
      offset=offset-1
      print(offset)

      
    else :
      offset=offset+1
      print(offset)

In [ ]:
for c in "family":
    print(c.capitalize())

In [ ]:
fam = [1.73, 1.68, 1.71, 1.89]
for height in fam : 
    print(height)

In [ ]:
fam = [1.73, 1.68, 1.71, 1.89]
for index, height in enumerate(fam) :
    print("person " + str(index) + ": " + str(height))

In [ ]:
print(enumerate(fam))

In [ ]:
print( list(enumerate(fam)) )

In [ ]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for index, area in enumerate(areas) :
    print("room " + str(index+1) + ": " + str(area))

In [4]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
print(house[4][1])
house[2:5][0][0]

9.5

'living room'

In [ ]:
house[0]

In [ ]:
for y in house:
    print(y[0])

In [ ]:
number = len(house);
for i in range( number ):
    print(house[i][1])

In [5]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for h in house:
    print("the " + h[0] +  " is " +  str(h[1])  + " sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

In [6]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]

In [22]:
# Method 01
for h in house:
    #print(h)
    print()
    print(h[1])

11.25

18.0

20.0

10.75

9.5

In [14]:
# Method 02  # This is standard Procedure # IMP
print(len(house))
number =  len(house) # 5
for index in range(number):
    #print(index)
    print(house[index])
    #print(house[index][0])

5
['hallway', 11.25]
['kitchen', 18.0]
['living room', 20.0]
['bedroom', 10.75]
['bathroom', 9.5]

In [19]:
# Method 03  # enumerate gives  index and value
for index,value in enumerate(house):
    #print(index); 
    #print(value);print()
    #print(value[0])
    print(house[index][0]);print()

hallway

kitchen

living room

bedroom

bathroom

In [23]:
world = { "afghanistan":30.55, 
          "albania":2.77,
          "algeria":39.21 }

for key, value in world.items() :
    print(key + " -- " + str(value))

afghanistan -- 30.55
albania -- 2.77
algeria -- 39.21

In [25]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for key, value in europe.items():
    print("the capital of " + key + " is " + value)
#dictionaries are inherently unordered!

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

In [ ]:
#If you're dealing with a 1D NumPy array
#for x in my_array :
    ...

In [27]:
#If you're dealing with a 2D NumPy array, it's more complicated. A 2D array is built up of multiple 1D arrays. To explicitly iterate over all separate elements of a multi-dimensional array, you'll need this syntax:

#for x in np.nditer(my_array) :

In [ ]:
#Try to add an additional argument end = to the print() call - the output will be mesmerizing!  ???

In [33]:
# Import numpy as np
import numpy as np

# For loop over np_height
for h in (np_height):
    print(str(h) + " inches")


# For loop over np_baseball
#for b in np.nditer(np_baseball):
    #print(b)

1.73 inches
1.68 inches
1.71 inches
1.89 inches
1.79 inches

In [29]:
import numpy as np
np_height = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
np_weight = np.array([65.4, 59.2, 63.6, 88.4, 68.7])

meas = np.array([np_height, np_weight])
for val in np.nditer(meas) :
    print(val)

1.73
1.68
1.71
1.89
1.79
65.4
59.2
63.6
88.4
68.7

In [47]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Adapt for loop
for lab, row in cars.iterrows() :
    print(lab + ": " + str(row['cars_per_cap']))

US: 809
AUS: 731
JPN: 588
IN: 18
RU: 200
MOR: 70
EG: 45
P: 10

In [48]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Code for loop that adds COUNTRY column
for lab,rows in cars.iterrows():
    cars.loc[lab, "COUNTRY"] = rows['country'].upper()


# Print cars
print(cars)

     cars_per_cap       country  drives_right       COUNTRY
US            809  UnitedStates          True  UNITEDSTATES
AUS           731     Australia         False     AUSTRALIA
JPN           588         Japan         False         JAPAN
IN             18         India         False         INDIA
RU            200        Russia          True        RUSSIA
MOR            70       Morocco          True       MOROCCO
EG             45         Egypt          True         EGYPT
P              10      Pakistan         False      PAKISTAN

In [49]:
#confusion....not imp
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Use .apply(str.upper)
cars["COUNTRY"] = cars["country"].apply(str.upper)
print(cars)

     cars_per_cap       country  drives_right       COUNTRY
US            809  UnitedStates          True  UNITEDSTATES
AUS           731     Australia         False     AUSTRALIA
JPN           588         Japan         False         JAPAN
IN             18         India         False         INDIA
RU            200        Russia          True        RUSSIA
MOR            70       Morocco          True       MOROCCO
EG             45         Egypt          True         EGYPT
P              10      Pakistan         False      PAKISTAN