In [ ]:
# is use to do comment
# \n is new line
# to int to string use str(anyinteger)
# equations get from google (even 2n or odd 2n+1)

In [11]:
#
a=2
print(str(a)+" "+"take plate ")
print(str(a)+" take plate ")

2 take plate
2 take plate

In [ ]:
#
print("fatima \n \n \n muzafar") # \n is new line

In [ ]:
print("fatima")
print("")
print("muzafar")

# tariqa 2
print("fatima \n")
print("muzafar")

In [ ]:
#### IF OR ELSE....

In [9]:
# 
a=2
if(a==2):
    print("take plate first")
    print(a)
elif(a==3):
    print("take plate ")
    print(a) # a is my above value
else:
    print("any plate")

take plate first
2

In [ ]:
#1 This is my first program
# if elseif else

a=2
if(a==1):
    print("take plate "+ str(a))
elif(a==2):
    print("take plate "+ str(a))
else:
    print("any plate")

In [ ]:
print("dress")
print("programme")
print ("mission started")
a=123
if(a==000):
    print("dress")
elif(a==1110): 
    print("saree")
else:
    print("skirt")

In [ ]:
#### FOR LOOP...

In [ ]:
# for loop
for x in range(10):
    print(x)

In [ ]:
# Even number
for x in range(5):
    print((x+1)*2)

In [ ]:
# for loop
for x in range(10):
    print(x)

In [ ]:
#
for x in range(10):
    print(x+2)

In [ ]:
for x in range(5):
    print(x*2)

In [ ]:
# odd number
for x in range(10):
    print(2*(x)+1)

In [ ]:
# odd number
a=10;
for x in range(1,(a+1)):
    print(x)

In [ ]:
a=40
for x in range (1,(a+1)):
    print(x)

In [ ]:
for x in range(1,11):
    print("x value is: " +str(x) + " reaminder by dividing with 2 is: " + str(x%2))

In [ ]:
for x in range(1,11,2):
    print(x)

In [ ]:
for x in range(1,10000,3):
    print(x)

In [ ]:
for g in range(-20,-10):
    print(g)

In [ ]:
#
for x in range(10):
    print(x+2)

In [ ]:
# Even number
for x in range(5):
    print((x+1)*2)

In [ ]:
# odd number
for x in range(10):
    print(2*(x)+1)

In [ ]:
# odd number
a=10;
for x in range(1,(a+1)):
    print(x)

In [ ]:
##### IF OR ELSE IN FOR LOOP...........

In [ ]:
a=40
for x in range (1,(a+1)):
    if((x%4)==0):
        print("hi family of 4 here")
    elif((x%2)==0):
        print("hi family of 2 here")
    else:
        print("hi none family")

In [ ]:
# for and if
# odd even
a=20;
for x in range(1,(a+1)):
    if((x % 2)==0):
        print("hi Even " + str(x))
    else:
        print("hi Odd " + str(x))

In [ ]:
# for and if
# odd even
a=20;
for x in range(1,(a+1)):
    if((x % 2)==0):
        print("hi Even " + str(x))
    else:
        print("hi Odd " + str(x))

In [ ]:
# Introduction to python #24/01/2022
print(5 / 8)
print(7+10)
print(2**4)

In [ ]:
#2 power 4 can be written as   2**4
# (modulo) % this gives u the remainder of dividion of number 
# for example
print(19%2)

In [ ]:
# examples
print(3*5)
print(14/2)
print(5**2)
print(25%3)

In [ ]:
#examples
# Addition, subtraction
print(5 + 5)
print(5 - 5)

# Multiplication, division, modulo, and exponentiation
print(3 * 5)
print(10 / 2)
print(18 % 7)
print(4 ** 2)

# How much is your $100 worth after 7 years?
print(100*1.1**7)
#100*1.1*1.1*1.1*1.1*1.1*1.1.1*1.1  can be written as above one

In [ ]:
#BMI=weight/(height^2)  
       or    
#BMI=weught/heught**2

In [ ]:
#INTEGERS in are written as (int)
#floats in py means point numbers like 1.2,2.3,34.4......etc 
# string (   str    )represents text which can be represented in both  double and single quotes like
# x="body mass index"
# y= 'this works too'
# boolean(  bool  ) means used for true or false ooorrr  yes or no
# int ex  2 + 3
# str ex  'ab' + 'cd'

In [ ]:
# = in py represents assignment not equality

In [ ]:
# Create a variable desc
desc ="compound interest"

# Create a variable profitable
profitable = True               # remember here  for True or False  captilization is very imp

In [ ]:
 x = 100    
print( x )  

print(type(x))
# remember the gaps here don not write closer  ask doubt   # doubt = instesd os x should we write savings

In [ ]:
# Create a variable savings
savings = 100

# Create a variable growth_multiplier
growth_multiplier = 1.1

# Calculate result
result = 100*1.1**7

# Print out result
print(result)

In [1]:
# https://campus.datacamp.com/courses/intro-to-python-for-data-science/chapter-1-python-basics?ex=11
# types
x = 100   
print("x:")
print(str(type(x))+"\n")

x1 = 100.23    
print("\nx1:")
print(type(x1))

x2 = "100" 
print("\nx2:")
print(type(x2))

x:
<class 'int'>


x1:
<class 'float'>

x2:
<class 'str'>

In [ ]:
savings = 100
growth_multiplier = 1.1
desc = "compound interest"

# growth_multiplier*savings=year1  // This is wrongs way computer do not understand
year1 = growth_multiplier*savings

In [ ]:
savings = 100
growth_multiplier = 1.1
desc = "compound interest"
fatima="muzafar143"
# Assign product of growth_multiplier and savings to year1
year1 = growth_multiplier*savings

# Print the type of year1
print(type (year1))

# Assign sum of desc and desc to doubledesc
doubledesc=desc + desc +desc+fatima+"fatima"

# Print out doubledesc
print(doubledesc)

In [ ]:
savings = 100
result = 100 * 1.10 ** 7

# Fix the printout
print("I started with $" + str(savings) + " and now have $" + str(result) + ". Awesome!")

# Definition of pi_string
pi_string = "3.1415926"

# Convert pi_string into float: pi_float
print(type(pi_string))
print(pi_string+ pi_string)

In [ ]:
# conversion
# int(), float() and bool()  str()
pi_string = "3.1415926"
print(pi_string +pi_string )

pi_float = float(pi_string)
print( pi_float + pi_float)

print()
pi_integer = int(float(pi_string))
print(pi_integer)
print( pi_integer + pi_integer)

print()
pi_bool = bool(pi_integer)
print(pi_bool)
print(pi_bool+pi_bool)         #true =any value other than zero and false =0

print(bool(0))
fatima_bool =True
muzafar_bool = False
print(fatima_bool)
print(muzafar_bool)
print(type(fatima_bool))
print(fatima_bool == muzafar_bool)

In [ ]:
"I said " + ("Hey " * 30) + "Hey!"
# immmmmmmmmmmmmmmmmmpppppppppppp

In [ ]:
print(True + False)



print(True + True)


print(False + False)

In [ ]:
#list are writeen as [a,b,c]
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Create list areas
areas=[["hall",11.25],             #should we write both information
       ["kit",18.0],
       ["liv",20.0],
       ["bed",10.75],
       ["bath",9.50],]
areas=[hall,kit,liv,bed,bath]
# Print areas
print(areas)

In [ ]:
# "bathroom" is a string, while bath is a variable that represents the float 9.50 you specified earlier.
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Adapt list areas
areas = ["hallway",hall, "kitchen",kit, "living room", liv, "bedroom",bed, "bathroom", bath]

# Print areas
print(areas)

###method 2
# Adapt list areas
areas2 = ["hallway",11.25, "kitchen",18.0, "living room", 20.0, "bedroom",10.75, "bathroom", 9.50]

# Print areas
print(areas2)


#method3
print(areas2[2] +" "   +    str(areas2[3]))


# Method 4
print()
for i in range(10):
    print(areas2[i] )
    
# method 5
print()
for i in range(0,10,2):
    print(i)
    print(str(areas2[i]) +" "   +    str(areas2[i+1]))

print(areas2[3])

In [ ]:
print(areas2[2] +" "   +    str(areas2[3]))

In [ ]:
a=[1, 3, 4, 2]
b=[[1, 2, 3], [4, 5, 7]]
c= [1 + 2, "a" * 5, 3]

print(b[0][0])     #lists are started from 0,1,2.....
print (type(a))

In [ ]:
a=[1, 3, 4, 2]
b=[[a, 2, 3], [4, 5, 7]]
c= [1 + 2, "a" * 5, 3]

print(b[0][0])

In [ ]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# house information as list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom",bed],
         ["bathroom",bath]]

# Print out house
print(house)

# Print out the type of house
print(type(house))

In [ ]:
fam=['liz',1.73,'emma',1.68,'mom',1.71,'dad',1.89]
#liz as index 0, 1.73 asindex 1,emma as index2........
#also we can count backwards using negative integers....like 1.89  -1...
fam[6]
fam[-1]
fam[7]

In [2]:
fam=['liz',1.73,'emma',1.68,'mom',1.71,'dad',1.89]
fam[4]

'mom'

In [3]:
fam=['liz',1.73,'emma',1.68,'mom',1.71,'dad',1.89]       # here colon acts as range but here index before colon is included
                                                 #and index after colon is not included so finally here u  r gng to get
                                                 #only index 3,4
fam[3:5]

[1.68, 'mom']

In [ ]:
fam=['liz',1.73,'emma',1.68,'mom',1.71,'dad',1.89]
fam[1:4]         # here u r gng to get only index 1,2,3

In [ ]:
fam=['liz',1.73,'emma',1.68,'mom',1.71,'dad',1.89]
fam[:4]  # here no index before the colon means starting from index zero

In [ ]:
fam=['liz',1.73,'emma',1.68,'mom',1.71,'dad',1.89]
fam[5:]  # here no index after colon means including index 5 and upto end of the list

In [ ]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Sum of kitchen and bedroom area: eat_sleep_area
eat_sleep_area=areas[3] + areas[-3]
# eat_sleep_area=18.0 + 10.75

# Print the variable eat_sleep_area
print(eat_sleep_area)

In [ ]:
# Slicing
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Use slicing to create downstairs
muzafarArea = areas[0:4]   # muzafarArea = ["hallway", 11.25, "kitchen", 18.0]
print(muzafarArea)

# Use slicing to create upstairs
fatimaArea = areas[6:9+1]
print(fatimaArea)
# Print out downstairs and upstairs
coupleArea = fatimaArea + muzafarArea # adding two lists _
print(coupleArea)

In [ ]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Use slicing to create downstairs
downstairs=areas[0:6+1]

# Use slicing to create upstairs
upstairs=areas[-4:]

# Print out downstairs and upstairs
print(downstairs )
print(upstairs)

In [ ]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Use slicing to create downstairs
downstairs = areas[0:6]

# Use slicing to create upstairs
upstairs = areas[6:10]

# Print out downstairs and upstairs
print(downstairs)
print(upstairs)

In [ ]:
x[:]   # it includes full list...

In [ ]:
#list manipulation
fam=['liz',1.73,'emma',1.68,'mom',1.71,'dad',1.89] 
#if we wana change any of the height then do as follows
fam[7]=1.86
fam
# another change
fam[0:2]=["lisa",1.74]
fam

In [ ]:
#adding and removing elements
fam + ["me",1.79]

In [ ]:
fam_ext =fam + ["me",1.79]

In [ ]:
# deleting elements
fam=['liz',1.73,'emma',1.68,'mom',1.71,'dad',1.89] 
print(fam)
del(fam[2:4])
print(fam)

In [ ]:
# run more than one time and chech the output: how its delets the elements
# thumb rule delect the elements from right side or last elements
print(fam)
del(fam[0])
print(fam)

In [ ]:
# run more than one time and chech the output: how its delets the elements
# thumb rule delect the elements from right side or last elements
print(fam)
del(fam[-1])
print(fam)

In [ ]:
# Copy  # same memory
X = ["a","b","c"] # Meemory
print(X)

Y = X   # Y and X will have same memory # in list same memory # 
print(Y)

X[0]="aChangedfromX"

print(X)
print(Y)

Y[1] = "bchangedfromY"

print(X)
print(Y)

In [ ]:
# Copy
X = ["a","b","c"] # Meemory
print(X)

Y = list(X) # or Y = X[:]     # Y and X will have different memory
print(Y)

X[0]="aChangedfromX"

print(X)
print(Y)

Y[1] = "bchangedfromY"

print(X)
print(Y)

In [ ]:
a="matter"
b=a
print(a)
print(b)

a=15
print(a)
print(b)

In [ ]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Correct the bathroom area
areas[-1]=10.50

# Change "living room" to "chill zone"
areas[4]="chill zone"

In [ ]:
# Create the areas list and make some changes
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0,
         "bedroom", 10.75, "bathroom", 10.50]

# Add poolhouse data to areas, new list is areas_1
areas_1=areas + ["poolhouse",24.5]

# Add garage data to areas_1, new list is areas_2
areas_2=areas_1 + ["garage",15.45]
print(areas)
print(areas_1)
print(areas_2)

In [ ]:
print("fatima") ;print(100)
a=10;b=20;c=30
print(a+b+c)

In [ ]:
areas = ["hallway", 11.25, "kitchen", 18.0,
        "chill zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]
del(areas[10]);del(areas[11])  #this is wrong for removing poolhouse and its area it should be like del area 11 and then area10
print(areas)

In [ ]:
areas = ["hallway", 11.25, "kitchen", 18.0,
        "chill zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]
del(areas[10:11])
print(areas)

In [ ]:
areas = ["hallway", 11.25, "kitchen", 18.0,
        "chill zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]
del(areas[-4:-2])
print (areas)

In [ ]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Create areas_copy
areas_copy = areas[:]

# Change areas_copy
areas_copy[0] = 5.0

# Print areas
print(areas)

In [ ]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Create areas_copy
areas_copy = list(areas)

# Change areas_copy
areas_copy[0] = 5.0

# Print areas
print(areas)

In [ ]:
print("fatima")
print("muzafar")
print("muzafar and fatima childrens")

In [ ]:
print("fatima")
print("muzafar")
print("muzafar and fatima childrens")

In [ ]:
print("fatima")
print("muzafar")
print("muzafar and fatima childrens")

In [ ]:
#### FUNCTIONS..........

In [ ]:
# Functions
def FatMuzFamily():
    print("fatima")
    print("muzafar")
    print("muzafar and fatima childrens")
    print("muzafar and fatima childrens+")
    

def Fatimajewelleries():
    print("bangadia 2")
    print("rings 5")
    print("neckless 2")

In [ ]:
FatMuzFamily()
Fatimajewelleries()

In [ ]:
a= 2
b =3
c = a + b
print(c)

In [ ]:
a= 20
b =30
c = a + b
print(c)

In [ ]:
def MyAddition():
    a=2
    b=3
    c= a+b
    print(c)

In [ ]:
MyAddition()

In [ ]:
MyAddition()

In [ ]:
def MyAddition(a,b):
    c= a+b
    print(c)

In [ ]:
MyAddition(2,3)
MyAddition(20,30)

In [ ]:

x = MyAddition(100,200)
print(x)

In [ ]:
def MyAddition(a,b):
    c= a+b
    return(c)

In [ ]:
x = MyAddition(100,200)
print(x)
y=x+x+x
print(y)

In [ ]:
def MyAddition(a,b,c):
    d= a+b+c
    print(d)
    return(d*10)  # wapas dia    # if not return nothing

In [ ]:
x3 = MyAddition(10, 20 , 30)  #store

In [ ]:
print(x3)

In [ ]:
def MyAddition1():
    a=2
    b=3
    c= a+b
    print(c)
    
def MyAddition2(a,b):
    c= a+b
    print(c)
    
def MyAddition3(a,b,c):
    d= a+b+c
    print(d)
    return(d*10)  # wapas dia    # if not return nothing

In [ ]:
MyAddition1()
MyAddition2(200,300)
MyAddition3(100,200+200,300+300)

In [ ]:
a=10.47869
print(round(a))
print(round(a,1))
print(round(a,4))

In [ ]:
import math as fatima
a=10.4
print(fatima.ceil(a))

In [21]:
import math as 
a=10.4
print(fatima.floor(a))

10

In [ ]:
fatima.factorial(4)

In [ ]:
fatima.pow(2,3)

In [ ]:
fatima.pow(2,fatima.pow(2,3))

In [ ]:
fatima.sin(fatima.degrees(90))

In [ ]:
degreeToRadina = fatima.radians(30)
print( fatima.sin(degreeToRadina) )
print( fatima.cos(degreeToRadina) )
print( fatima.tan(degreeToRadina) )

In [ ]:
fatima.sin(3.143/180 *)

In [ ]:
fatima.degrees(90)

In [ ]:
fatima.radians(90)

In [ ]:
(3.143/180) * 90

In [ ]:
round( fatima.sin(90*(3.143/180)), 2)

In [ ]:
degree = 30
myDegreeToRadian = degree * (3.143/180)
print(myDegreeToRadian)

In [15]:
def FatimaDegreeToRadian(myDegree=45):
    degree= myDegree
    myDegreeToRadian = degree * (3.143/180)
    print(myDegreeToRadian)
    return myDegreeToRadian

In [16]:
FatimaDegreeToRadian(30)
FatimaDegreeToRadian()

0.5238333333333334
0.7857500000000001

0.7857500000000001

In [22]:
degreeToRadian = FatimaDegreeToRadian(30)
print( degreeToRadian )
print( fatima.sin(degreeToRadian) )
print( fatima.cos(degreeToRadian) )
print( fatima.tan(degreeToRadian) )

0.5238333333333334
0.5238333333333334
0.5002031192009987
0.8659081010947938
0.5776630552001728

In [10]:
a=  FatimaDegreeToRadian(30)
print( a )

NameError: name 'myDegreeToRadian' is not defined

In [6]:
###
condition = True
while(condition):
    print("hi")
    condition = False

hi

In [15]:
count = 0
while(count < 10):
    count = count + 1
    print(count)

1
2
3
4
5
6
7
8
9
10

In [16]:
count = 0
while(count < 10):
    print(count)
    count = count + 1

0
1
2
3
4
5
6
7
8
9

In [20]:
#####  CLASSES......

In [22]:
class FATIMACLASS:
    def MyAddition1():
        a=2
        b=3
        c= a+b
        print(c)
    
    def MyAddition2(a,b):
        c= a+b
        print(c)

    def MyAddition3(a,b,c):
        d= a+b+c
        print(d)
        return(d*10)  # wapas dia    # if not return nothing 

    def FatimaDegreeToRadian(myDegree=45):
        degree= myDegree
        myDegreeToRadian = degree * (3.143/180)
        print(myDegreeToRadian)
        return myDegreeToRadian

In [26]:
runFatimaClass = FATIMACLASS

In [27]:
runFatimaClass.MyAddition1()

5

In [28]:
runFatimaClass.FatimaDegreeToRadian()

0.7857500000000001

0.7857500000000001

In [1]:
a=10
print(a)

10

In [3]:
b=4
print(b)    prin

4

In [4]:
print(a+b)

14

In [5]:
print("zoya")

zoya

In [ ]:
 ##revision  of algorithms

In [8]:
num=1
Remaindercount=0
IsRemainder=None
for x in range(1,num+1):
    if(num==1):
        IsRemainder=False   
    if(num%x==0):
        Remaindercount=Remaindercount+1
        if(Remaindercount>2):
            IsRemainder=True
            break

if(IsRemainder==True):
    print("Not a primenumber")
else:
    print("primenumber")

primenumber

In [9]:
##Optimized Prime number
num=4
Remaindercount=0
IsRemainder=None
if(num==1):
    IsRemainder=False 
    
for eachnum in range(2,num):
    remainder=num%eachnum
    if(remainder==0):
        IsRemainder=True
        break
        
if(IsRemainder==True):
    print("Not a primenumber")
else:
    print("primenumber")

Not a primenumber

In [12]:
##Fibbonacci series
NoOf=5
a=[1,1]
for index in range(NoOf-2):
    b=a[index]+a[index+1]
    a.append(b)
print(a)

[1, 1, 2, 3, 5]

In [22]:
lines=3
for eachline in range(1,lines+1):
    
    for eachX in range(1,eachline+1):
        print("X",end="")
        
    print("")

X
XX
XXX

In [30]:
lines=3
for eachline in range(lines,0,-1):
    
    for eachX in range(eachline):
        print("X",end="")
        
    print("")

XXX
XX
X

In [36]:
lines=10
for eachline in range(1,lines+1):
    
    for eachX in range(1,eachline+1):
        if(eachX==2):
            print("Y",end="")
            continue
        print("X",end="")
        
    print("")

X
XY
XYX
XYXX
XYXXX
XYXXXX
XYXXXXX
XYXXXXXX
XYXXXXXXX
XYXXXXXXXX

In [48]:
lines=11
for eachline in range(1,lines+1):
    
    for eachX in range(1,eachline+1):
        if(eachX==3 and (eachline>=5 and eachline<lines) ):
            print("Y",end="")
        else:
            print("X",end="")
        
    print("")

X
XX
XXX
XXXX
XXYXX
XXYXXX
XXYXXXX
XXYXXXXX
XXYXXXXXX
XXYXXXXXXX
XXXXXXXXXXX

In [1]:
lines=10
for eachline in range(1,lines+1):
    if (eachline==5):
        continue
    for eachX in range(1,eachline+1):
        print("X",end="")
        
    print("")

X
XX
XXX
XXXX
XXXXXX
XXXXXXX
XXXXXXXX
XXXXXXXXX
XXXXXXXXXX

In [10]:
lines=10
for eachline in range(1,lines+1):
    if (eachline==5):
        print("\n",end="")
        continue
    for eachX in range(1,eachline+1):
        print("X",end="")
        
    print("")

X
XX
XXX
XXXX

XXXXXX
XXXXXXX
XXXXXXXX
XXXXXXXXX
XXXXXXXXXX

In [12]:
lines=10
for eachline in range(1,lines+1):
    
    for eachX in range(1,eachline+1):
        if(eachX==1 or eachX==eachline):
            print("O",end="")
            continue
        print("X",end="")
        
    print("")

O
OO
OXO
OXXO
OXXXO
OXXXXO
OXXXXXO
OXXXXXXO
OXXXXXXXO
OXXXXXXXXO

In [20]:
lines=10
for eachline in range(1,lines+1,2):
    
    for eachX in range(eachline):
        print("X",end="")
        
    print("")

X
XXX
XXXXX
XXXXXXX
XXXXXXXXX

In [23]:
a=1
b=1
a1=a
b1=b
print(a1)
print(b1)
for x in range(5):
    c1=a1+b1
    a1=b1
    b1=c1
    print(c1)

1
1
2
3
5
8
13

In [43]:
lines=3
for eachline in range(1,lines+1):
    
    for eachX in range(1,eachline+1):
        print("X",end="")
        
    print("")
     
for eachline in range(1,lines):
    
    for eachX in range(lines-eachline,0,-1):
        print("X",end="")
        
    print("")

X
XX
XXX
XX
X

In [54]:
a=int(input("Enter the number   "))
print(type(a))
print(a*a)

Enter the number   40
<class 'int'>
1600

In [48]:
a=20
print(a*a)

400

In [73]:
num=int(input("Enter the number   "))

Enter the number   11111
5

In [69]:
k=5983
k%10

598.3

In [68]:
k=int(5983/10)
k%10

8

In [78]:
a=30
print(a)

30
30
30
30

In [ ]:
a = 10

In [4]:
import numpy as np

a=np.array([1,2,3])

In [7]:
from  numpy import  *    # using namespace as std
b= array([1,2,3])